
/*
@import url("http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css");
@import url("http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.cs");
*/

@import url("../../layout-default-latest.css");

@import url("../../jquery-mobile/css/themes/default/jquery.mobile.theme.css");
@import url("../../jquery-mobile/css/structure/jquery.mobile.core.css");
@import url("../../jquery-mobile/css/structure/jquery.mobile.structure.css");
@import url("../../jquery-mobile/css/structure/jquery.mobile.controlgroup.css");
@import url("../../jquery-mobile/css/structure/jquery.mobile.button.css");
@import url("../../jquery-mobile/css/structure/jquery.mobile.listview.css");
@import url("../../jquery-mobile/css/structure/jquery.mobile.table.css");
@import url("../../jquery-mobile/css/structure/jquery.mobile.table.reflow.css");

@import url("../../jquery-ui/themes/base/jquery.ui.core.css");
@import url("../../jquery-ui/themes/base/jquery.ui.theme.css");

@import url("../../jqGrid/css/ui.jqgrid.css");

@import url("../../openlayers/theme/default/style.css");

body {
    margin: 0;
    padding: 0;
}
#refresh_rowed2, #prowed2_center, #prowed2_right {
    display: none;
}
#popupMenu .ui-controlgroup {
    margin: 0;
}
#toast-screen {
    background: rgba(0, 0, 0, .2);
}
#toast-popup {
    bottom: 0 !important;
    top: auto !important;
}
#toast {
    border: 1px solid rgba(0, 0, 0, .8);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, .4);
    margin: auto -1px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    padding: 1em 2em;
    font-weight: bold;
}
.ui-layout-pane {
    padding: 0;
}
.ui-layout-north {
    border: none;
    background-color: #a02d00;
    background-image: url('../images/header.jpeg');
    background-repeat: no-repeat;
    background-position: right top;
}
.ui-layout-west {
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.ui-layout-center {
    border-bottom: none;
}
.ui-layout-east {
    border-bottom: none;
    border-right: none;
}
.ui-layout-east > * {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#nav {
    position: absolute;
    bottom: .3em;
    right: .3em;
}
#nav > div {
    margin: 0;
}
#map2-page .ui-content {
    padding: 0;
    height: 100%;
}
#map, #map2 {
    width: 100%;
    height: 100%;
}
